.post-header, .post-content
{
    margin-bottom: 1rem;
}

.post-content {
    font-size: 14px;
}

img.user-avatar
{
    border-radius:50%;
    width: 64px;
    height: 64px;
}

img.post-thumbnail
{
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #888888;
    max-width: 128px;
}

.s-mt-1rem
{
    margin-top: 1rem;
}

.s-cursor-pointer
{
    cursor: pointer;
}
