<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- prevent favicon request (https://stackoverflow.com/a/13416784) -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title>Sumidero</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <link rel="stylesheet" href="styles/vendor/bulma-0.6.1/css/bulma.min.css" integrity="sha256-v5YlJGWVLS5hQ+o48fBzCKHEP2vMNsku57x3CosYykc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="styles/vendor/nprogress-0.2.0/nprogress.min.css" integrity="sha256-pMhcV6/TBDtqH9E9PWKgS+P32PVguLG8IipkPyqMtfY=" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="styles/vendor/bulma-0.6.1/css/bulma.css" integrity="sha256-lUssH++umYLC/97WXqr424ew3ing8e+dATTAmMpCF40=" crossorigin="anonymous" />
        <link rel="stylesheet" href="styles/vendor/nprogress-0.2.0/nprogress.css" integrity="sha256-no0c5ccDODBwp+9hSmV5VvPpKwHCpbVzXHexIkupM6U=" crossorigin="anonymous" />
            {% endif %}
        {% else %}
            {% if settings.production %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" integrity="sha256-v5YlJGWVLS5hQ+o48fBzCKHEP2vMNsku57x3CosYykc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" integrity="sha256-pMhcV6/TBDtqH9E9PWKgS+P32PVguLG8IipkPyqMtfY=" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css" integrity="sha256-lUssH++umYLC/97WXqr424ew3ing8e+dATTAmMpCF40=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.css" integrity="sha256-no0c5ccDODBwp+9hSmV5VvPpKwHCpbVzXHexIkupM6U=" crossorigin="anonymous" />
            {% endif %}
        {% endif %}
        {% if settings.foolsJokeDate %}
        <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
        <style>
            body
            {
                font-family: 'Gochi Hand', cursive !important;
            }
            div#sumidero-section
            {
                padding-left: 150px;
                padding: 37px 55px 27px;
                position: relative;
                border: 1px solid #B5B5B5;
                background: white;
                background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
                background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
                background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
                -webkit-background-size: 100% 30px;
                -moz-background-size: 100% 30px;
                -ms-background-size: 100% 30px;
                background-size: 100% 30px;
            }
            div#sumidero-section::before
            {
                content: "";
                z-index: -1;
                margin: 0 1px;
                width: 706px;
                height: 10px;
                position: absolute;
                bottom: -3px;
                left: 0;
                background: white;
                border: 1px solid #B5B5B5;
            }
            div#sumidero-section::after {
                content: '';
                position: absolute;
                width: 0px;
                top: 0;
                left: 39px;
                bottom: 0;
                border-left: 1px solid #F8D3D3;
            }
            div#sumidero-section div.sumidero-post:not(:last-child)
            {
                margin-bottom: 5rem;
            }
            div#sumidero-section hr
            {
                display: none;
            }
        </style>
        {% endif %}
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <div id="app" class="container">
            <section class="hero">
                <div class="hero-body">
                    <p class="title is-1 has-text-centered">Sumidero</i></p>
                    <p class="subtitle is-7 has-text-centered">I ASSURE YOU; WE'RE OPEN</i></p>
                </div>
            </section>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <a class="button is-warning">tag</a>
                    </div>
                    <div class="level-item">
                        <a class="button is-info">latest</a>
                    </div>
                    <div class="level-item">
                        <a class="button is-link">top</a>
                    </div>
                </div>
            </nav>
            <transition name="fade">
                <!-- component matched by the route will render here -->
                <router-view></router-view>
            </transition>
        </div>

        <script>
            const siteUrl = "{{ settings.siteUrl }}";
        </script>

        <!-- vendor section -->
        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <script src="scripts/vendor/nprogress-0.2.0/nprogress.min.js" integrity="sha256-XWzSUJ+FIQ38dqC06/48sNRwU1Qh3/afjmJ080SneA8=" crossorigin="anonymous"></script>
        <script src="scripts/vendor/vue-2.5.3/vue.min.js" integrity="sha256-nAf3juAvyNkyQ17QrPxyArUX5HVce401EpmGfiFXyvk=" crossorigin="anonymous"></script>
        <script src="scripts/vendor/vue-router-3.0.1/vue-router.min.js" integrity="sha256-yEB9jUlD51i5kxJZlzgzfR6XmVKI76Nl1WRA1aqIilU=" crossorigin="anonymous"></script>
        <script src="scripts/vendor/vue-resource-1.3.4/vue-resource.min.js" integrity="sha256-OZ+Xidb5+lV/saUzcfonHJQ3koQncPy0hLjT8dROdOU=" crossorigin="anonymous"></script>
        <script src="scripts/vendor/moment.js-2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=" crossorigin="anonymous"></script>
            {% else %}
        <script src="scripts/vendor/nprogress-0.2.0/nprogress.js" integrity="sha256-a5YRB27CcBwBFcT5EF/f3E4vzIqyHrSR878nseNYw64=" crossorigin="anonymous"></script>
        <script src="scripts/vendor/vue-2.5.3/vue.js" integrity="sha256-C6USxZcxxFo9Wm1p3PFcYgEVpHQqRegQ0dgGc8rlR4o=" crossorigin="anonymous"></script>
        <script src="scripts/vendor/vue-router-3.0.1/vue-router.js" integrity="sha256-POlBNmX1CMDkfPMqbFqOxE8fGJyTT7tcwch5tvXZqVs=" crossorigin="anonymous"></script>
        <script src="scripts/vendor/vue-resource-1.3.4/vue-resource.js" integrity="sha256-8+8bZrGzTM4WqoYDOiYM8g19vF3l/R2zIs27nia7u5M=" crossorigin="anonymous"></script>
        <script src="scripts/vendor/moment.js-2.19.1/moment.js" integrity="sha256-1ni73t/Fu4WpdnQI5OzfL5KFTY8VmP6fntwKqxx9W8o=" crossorigin="anonymous"></script>
            {% endif %}
        {% else %}
            {% if settings.production %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js" integrity="sha256-XWzSUJ+FIQ38dqC06/48sNRwU1Qh3/afjmJ080SneA8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js" integrity="sha256-nAf3juAvyNkyQ17QrPxyArUX5HVce401EpmGfiFXyvk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js" integrity="sha256-yEB9jUlD51i5kxJZlzgzfR6XmVKI76Nl1WRA1aqIilU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js" integrity="sha256-OZ+Xidb5+lV/saUzcfonHJQ3koQncPy0hLjT8dROdOU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=" crossorigin="anonymous"></script>
            {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.js" integrity="sha256-a5YRB27CcBwBFcT5EF/f3E4vzIqyHrSR878nseNYw64=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js" integrity="sha256-C6USxZcxxFo9Wm1p3PFcYgEVpHQqRegQ0dgGc8rlR4o=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.js" integrity="sha256-POlBNmX1CMDkfPMqbFqOxE8fGJyTT7tcwch5tvXZqVs=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.js" integrity="sha256-8+8bZrGzTM4WqoYDOiYM8g19vF3l/R2zIs27nia7u5M=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js" integrity="sha256-1ni73t/Fu4WpdnQI5OzfL5KFTY8VmP6fntwKqxx9W8o=" crossorigin="anonymous"></script>
            {% endif %}
        {% endif %}
        <!-- vendor section -->

        <!-- app section -->
        <script src="scripts/vue-components/api-error.js"></script>
        <script src="scripts/vue-components/sumidero.js"></script>
        <script src="scripts/vue-components/post.js"></script>
        <script src="scripts/api.js"></script>
        <script src="scripts/app.js"></script>
        <!-- app section -->
    </body>
</html>
